<div>
    <form method="post" action="/contact/save">
    <input type="text" type="text" name="name" placeholder="Name"/>
    <input type="text" name="company" placeholder="Company"/>
    <input type="text" name="phoneType" placeholder="Phone Type"/>
    <input type="text" name="phoneNumber" placeholder="Phone Number"/>
    <input type="text" name="phoneType" placeholder="Phone Type"/>
    <input type="text" name="phoneNumber" placeholder="Phone Number"/>
    <input type="text" name="emailType" placeholder="Email Type"/>
    <input type="text" name="emailAddress" placeholder="Email Addrress"/>
    <input type="text" name="group" placeholder="Group"/>
    <input type="text" name="urlType" placeholder="Url Type"/>
    <input type="text" name="urlAddress" placeholder="Url Address"/>
    <input type="submit" value="Add Contact"/>
    </form>
</div>